@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;800&family=Manrope:wght@300;400;500&display=swap');
// media quaries
@mixin for-phone-landscape {
    @media (max-width: 767px) and (orientation: landscape) {
        @content;
    }
}

@mixin for-phone-sm {
    @media (max-width: 360px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: 834px) {
        @content;
    }
}

@mixin for-tablet-landscape {
    @media (max-width: 1024px) and (orientation: landscape) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

// Start Global
html {
    scroll-behavior: smooth;
    cursor: url('../img/pointer.png'), auto;
}

body {
    font-family: 'Lexend', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Manrope', sans-serif;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #FF4B93;
    -webkit-text-stroke: 0px transparent;
}

 ::selection {
    color: #fff;
    background: #FF4B93;
    -webkit-text-stroke: 0px transparent;
}

// End Global
.site-header {
    max-width: 870px !important;
    margin: 0 auto;
    padding: 5rem 0;
    @include for-tablet {
        padding: 3rem 1rem;
    }
    @include for-phone {
        padding: 3rem 1rem;
    }
}

.site-logo {
    img {
        width: 75px;
        animation: rotation 15s infinite linear;
    }
    @include for-tablet {
        margin-bottom: 2rem;
    }
    @include for-phone {
        margin-bottom: 2rem;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.nav {
    .nav-link {
        color: #203647;
        font-weight: 470;
        font-family: 'Manrope', sans-serif;
        @include for-tablet {
            padding: 0 15px 0 0;
        }
        @include for-phone {
            padding: 0 15px 0 0;
        }
    }
}

.banner-title {
    padding: 5rem 0;
    h2 {
        font-size: 4.75rem;
        font-weight: 700;
        letter-spacing: -3px;
        color: #192d44;
        @include for-tablet {
            font-size: 2.75rem;
            letter-spacing: -2px;
        }
    }
    // UX/UI Design
    .banner-title-out-ux {
        position: relative;
        color: #fff;
        -webkit-text-stroke: 1px #192d44;
        &::before {
            content: "UX/UI Design";
            position: absolute;
            color: #fff;
            background-image: repeating-linear-gradient( 45deg, transparent 0, transparent 2px, white 2px, white 4px);
            -webkit-background-clip: text;
            top: 0px;
            left: 0;
            z-index: -1;
            transition: 0.2s;
            opacity: 0;
        }
        &::after {
            content: "UX/UI Design";
            position: absolute;
            color: #fff;
            background-image: repeating-linear-gradient( 135deg, transparent 0, transparent 2px, white 2px, white 4px);
            -webkit-background-clip: text;
            top: 0px;
            left: 0px;
            transition: 0.2s;
            opacity: 0;
        }
        &:hover:before {
            top: 5px;
            left: 5px;
            opacity: 1;
            -webkit-text-stroke: 0px transparent;
            color: #FF4B93;
        }
        &:hover:after {
            top: 5px;
            left: 5px;
            opacity: 1;
            -webkit-text-stroke: 0px transparent;
            color: #FF4B93;
        }
        &:hover {
            color: #ddd;
            -webkit-text-stroke: 0px transparent;
        }
    }
    // Frontend Development
    .banner-title-out-fd {
        position: relative;
        color: #fff;
        -webkit-text-stroke: 1px #192d44;
        &::before {
            content: "Frontend Development";
            position: absolute;
            color: #fff;
            background-image: repeating-linear-gradient( 45deg, transparent 0, transparent 2px, white 2px, white 4px);
            -webkit-background-clip: text;
            top: 0px;
            left: 0;
            z-index: -1;
            transition: 0.2s;
            opacity: 0;
        }
        &::after {
            content: "Frontend Development";
            position: absolute;
            color: #fff;
            background-image: repeating-linear-gradient( 135deg, transparent 0, transparent 2px, white 2px, white 4px);
            -webkit-background-clip: text;
            top: 0px;
            left: 0px;
            transition: 0.2s;
            opacity: 0;
        }
        &:hover:before {
            top: 5px;
            left: 5px;
            opacity: 1;
            -webkit-text-stroke: 0px transparent;
            color: #FF4B93;
        }
        &:hover:after {
            top: 5px;
            left: 5px;
            opacity: 1;
            -webkit-text-stroke: 0px transparent;
            color: #FF4B93;
        }
        &:hover {
            color: #ddd;
            -webkit-text-stroke: 0px transparent;
        }
    }
    // Graphic Design
    .banner-title-out-gd {
        position: relative;
        color: #fff;
        -webkit-text-stroke: 1px #192d44;
        &::before {
            content: "Graphic Design";
            position: absolute;
            color: #fff;
            background-image: repeating-linear-gradient( 45deg, transparent 0, transparent 2px, white 2px, white 4px);
            -webkit-background-clip: text;
            top: 0px;
            left: 0;
            z-index: -1;
            transition: 0.2s;
            opacity: 0;
        }
        &::after {
            content: "Graphic Design";
            position: absolute;
            color: #fff;
            background-image: repeating-linear-gradient( 135deg, transparent 0, transparent 2px, white 2px, white 4px);
            -webkit-background-clip: text;
            top: 0px;
            left: 0px;
            transition: 0.2s;
            opacity: 0;
        }
        &:hover:before {
            top: 5px;
            left: 5px;
            opacity: 1;
            -webkit-text-stroke: 0px transparent;
            color: #FF4B93;
        }
        &:hover:after {
            top: 5px;
            left: 5px;
            opacity: 1;
            -webkit-text-stroke: 0px transparent;
            color: #FF4B93;
        }
        &:hover {
            color: #ddd;
            -webkit-text-stroke: 0px transparent;
        }
    }
}

.banner-caption {
    p {
        font-weight: 470;
        font-size: 1.25rem;
        @include for-tablet {
            font-size: 1rem;
        }
        span {
            opacity: .25;
            font-style: italic;
        }
    }
}

// Main section
.main-content {
    max-width: 870px !important;
    margin: 0 auto;
    padding: 5rem 0;
    border-top: dotted 1px #f0f0f0;
    @include for-tablet {
        padding: 3rem 1rem;
    }
    @include for-phone {
        padding: 3rem 1rem;
    }
}

.work-content {
    h3 {
        font: 700 2.5rem 'Lexend';
        letter-spacing: -1px;
        margin-bottom: 2rem;
        color: #FF4B93;
    }
}

.work-card {
    margin: 1rem 0;
    @include for-tablet {
        margin: 1.5rem 0;
    }
    img {
        margin-bottom: 1rem;
        border-radius: 3px;
    }
    h5 {
        font: 470 1.25rem 'Manrope';
        margin: 0;
        padding: 0;
        @include for-tablet {
            font-size: 1rem;
        }
    }
    p {
        font: 470 1.25rem 'Manrope';
        margin: 0;
        padding: 0;
        opacity: 0.5;
        @include for-tablet {
            font-size: 0.9rem;
        }
    }
}